/* Main CSS file
Author: Arthur
Overwriting bootstrap default styles
*/ 

/*
Colors

color-white: #FFFCF2;
color-gray: #CCC5B9;
color-brown: #403D39;
color-black: #252422;
color-orange: #EB5E28;*/

body, html{
    background-color: #252422;
    color:#FFFCF2;
}



.header-main a{
    color: #252422;
}

a:hover{
    color: #252422;
    text-decoration: none; 
}

.header-bg{
    background-color: #CCC5B9;
    height: auto;
    padding: 0.5em;
}

/* Cards */


.card-list{
    padding: 2em 0;
}

.card-list-header{
    margin: 0.5em 0;
}

.card-view-more{
    display: flex;
    flex-direction: column-reverse;
    text-align: right;
    padding: 1em;
    border: 0;
}

.card-view-more a{
    color: #CCC5B9;
}

.card {
    background-color: #403D39;
    margin: 1em 0;
    border: 0;
}

.card-text{
    color: #CCC5B9;
}

.card .btn-primary {
    background-color: #EB5E28;
    border: none;
}

.card .btn-primary:hover{
    background-color: #C14D21;
}