/* Main CSS file
Author: Arthur
Overwriting bootstrap default styles
*/ 

/*
Colors

color-white: #FFFCF2;
color-gray: #CCC5B9;
color-brown: #403D39;
color-black: #252422;
color-orange: #EB5E28;*/

/* Keyframes */

@keyframes slideInFromTop {
  0% {
    transform: translateY(25%);
    opacity: 0;

  }
  100% {
    transform: translateY(0);
    opacity: 1;

  }
}



body, html{
    background-color: #252422;
    color:#FFFCF2;
}


/* Header */

.header-main a{
    color: #FFFCF2;
}

a:hover{
    color: #FFFCF2;
    text-decoration: none; 
}

.header-bg{
    background-color: #181716;
    height: auto;
}

.header-main h2{
    margin: 0;
    padding: 0;
}

/* Hero */

.hero{
    height: 400px;
    background-color: #000;
}

.hero-content{
    margin-top: 100px;
}

.hero-content h1{
    font-size: 60px;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.hero-content p{
    padding: 0.5em 0 2em 0;
    color: #ccc5b9;
    animation: 1s ease-out 0.2s 1 slideInFromTop;
}

.hero-content .btn-primary{
}

/* Navigation*/

.navbar{
    padding: 0;
}

.navbar-brand{
    font-size: 30px;
}

.navbar-expand-lg 
.navbar-nav 
.nav-link {
    color: #CCC5B9;
}

.navbar-nav  .nav-link:hover{
    color: #FFFCF2;
}


/* Cards */


.card-list{
   margin-top: 3em;
}


.card-view-more{
    display: flex;
    flex-direction: column-reverse;
    text-align: right;
    
    border: 0;
}

.card-view-more a{
    color: #CCC5B9;
}

.card {
    background-color: #403D39;
    margin: 1em 0;
    border: 0;

}
.card-text{
    color: #CCC5B9;
}

.card .btn-primary {
    background-color: #EB5E28;
    border: none;
    transition: transform 0.3s ease-out;
}

.card .btn-primary:hover{
    background-color: #C14D21;
        transform: translate(0px, -2px);
}